.text {
  color: var(--color-gray);
  font-size: var(--font-medium);
  font-weight: 300;
}

.counter {
  font-size: 32px;
  font-weight: 900;
  color: var(--color-accent);
}

.icon {
  width: 36px;
  height: 36px;
  color: var(--color-primary);
  margin-bottom: 10px;
}